<html class='page'>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>

  <%= erb :'header' %>

<body align='center'>
    <div class="big_div">
    <h1> Request Booking </h1></br>

    <% if flash[:request_invalid]%>
        <b><%= flash[:request_invalid] %></b></br>
      <% elsif flash.now[:request_dates_not_available] %>
        <b><%= flash.now[:request_dates_not_available] %></b></br>
      <% elsif flash[:request_not_sent] %>
        <b><%= flash[:request_not_sent] %></b></br>
    <% end %>

    <form action='/submit_request' method='post'>
      <label for='start_date'>
        <span class="textarea_label">Start Date:</span> <input type='date' class="textarea" name='start_date'/>
      </label></br>
      <label for='end_date'>
        <span class="textarea_label">End Date:</span> <input type='date' class="textarea" name='end_date'/>
      </label></br>
      <input type='submit' class='button' value='Submit Booking'/>
    </form>
  </div>
</div>
</body>
</html>
