<h2> Property Information </h2>

<form action='/property' method='post'>
  <label for='title'>
    Name: <input name='title' type='text'>
  </label>
  <label for='description'>
    Description: <input name='description' type='text'>
  <label for='price_per_night'>
    Price Per Night: <input name='price_per_night' type='text'>
  <label for='location'>
    Location: <input name='location' type='text'>
  <label for='available_from'>
    Available from: <input name='available_from' type='date'>
  </label>
  <label for='available_to'>
    Available to: <input name='available_to' type='date'>
  </label>
  <input type='submit' value='Submit'>
</form>
