<html class='page'>
<head>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>
<body>
<%= erb :'header' %>
  <div class="big_div">
    <h1> Property Information </h1><br>
    <form action='/property' method='post'>
  <label for='title'>
    <span class="textarea_label">Name:</span> <input name='title' type='text' class="textarea" required>
  </label>
  <label for='description'>
    <span class="textarea_label">Description:</span> <input name='description' class="textarea" type='text'>
  <label for='price_per_night'>
    <span class="textarea_label">Price Per Night:</span> <input name='price_per_night' class="textarea" type='text' required>
  <label for='location'>
    <span class="textarea_label">Location:</span> <input name='location' type='text' class="textarea" required>
  <label for='available_from'>
    <span class="textarea_label">Available from:</span> <input name='available_from' class="textarea" type='date' required>
  </label>
  <label for='available_to'>
    <span class="textarea_label">Available to:</span> <input name='available_to' class="textarea" type='date' required>
  </label>
  <label for='image_url'>
    <span class="textarea_label">Image URL:</span> <input name='image_url' class="textarea" type='url'>
  </label>

  <input type='submit' value='Submit' class='button'>
</form>

</div>
