<html class='page'>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Montserrat|Poppins|Russo+One" rel="stylesheet">
  </head>
  <body align='center'>
    <div class='centerlogin'>
      <h1> Log in </h1></br>
     <form action='/log_in' method='post'>
       <label for='email'>
         Email: <input type='email' name='email'/>
       </label></br>
       <label for='password'>
         Password: <input type='password' name='password'/>
       </label></br>
       <input type='submit' value='Log in' class='button'/>
   </form>
   <a href="/sign_up" class='button'>Sign up</a>
 </div>
 </body>
</html>
